@use "../index.scss";

.home-section1 {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  margin-top: -70px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: -1;
  background-image: url("../assets/Home/mobile-bg.jpg");
  background-position: center;
  background-size: cover;

  .black-filter {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f3f3f63;
  }

  .home-s1-content {
    padding: 40px 20px 0 20px;
    position: relative;
    color: white;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    font-family: "Playfair Display", serif;

    h1 {
      margin-top: 250px;
      font-size: 40px;
      font-weight: 500;
      font-style: italic;
    }

    .text-design1,
    .text-design2,
    .text-design3 {
      position: absolute;
      font-weight: 400;
      font-style: italic;
      z-index: -1;
    }
    .text-design1 {
      top: 110px;
      right: 30px;
      color: index.$blackish;
    }
    .text-design2 {
      top: 550px;
      left: 5px;
      color: index.$yellow;
    }
    .text-design3 {
      bottom: 150px;
      right: -15px;
      color: white;
      transform: rotateZ(-90deg);
    }

    > img {
      position: absolute;
      z-index: -2;
      top: 100px;
      right: -200px;
      width: 400px;
    }

    .social {
      position: absolute;
      bottom: 0;
      right: calc(50% - 76px);
      z-index: 1;
    }
  }

  @media (min-width: 800px) {
    .home-s1-content {
      padding: 40px 20px 0 20px;

      h1 {
        margin-top: 300px;
        font-size: 70px;
        font-weight: 600;
      }

      .text-design1,
      .text-design2,
      .text-design3 {
        font-size: 25px;
      }

      > img {
        right: 0px;
        width: 500px;
      }
      .social {
        right: calc(50% - 122.5px);
      }
    }
  }
  @media (min-width: 600px) {
    background-image: url("../assets/Home/desktop-bg.jpg");
  }
}
