@use "../../index.scss";
.house-template {
  border: 2px solid index.$dim-gray;
  width: 90%;
  margin-top: 30px;
  border-radius: 20px;
  padding-bottom: 20px;
  color: index.$onyx;
  img {
    width: 100%;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
  }
  h3 {
    margin-top: 20px;
  }
  p {
    font-size: 14px;
  }
}
