* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}



//     font-family: 'Lato', sans-serif; 100i 400 700b 900
//     font-family: 'Playfair Display', serif;  400/400i  500/500i
//     font-family: 'Londrina Outline', cursive;

$blackish: #202020;
$onyx: #3f3f3f;
$dim-gray: #707070;
$yellow: #ffdf6c;
$orange: #ff6700;

// Blackish: #202020
// Dark Grey: #3F3F3F
// Medium Grey: #707070
// Egg Yellow: #FFDf6C
// White: #FFFFFF

// Sand Tan: #e1b382
// Sand Tan Shadow: #c89666
// Night Blue: #2d545e
// Night Blue Shadow: #12343b
