@use "../../index.scss";

.navigationmenu {
  position: absolute;
  top: 0;
  right: -100vw;
  width: 100%;
  height: 100vh;
  background-color: index.$dim-gray;
  color: index.$blackish;
  text-align: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease-in;

  svg {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  path {
    fill: index.$blackish;
  }

  ul {
    li {
      font-family: "Lato", sans-serif;
      font-size: 35px;
      margin-top: 30px;

      img {
        max-width: 130px;
      }
    }
    li:first-child {
      margin-top: 50px;
    }
  }
}

.shownav {
  opacity: 1;
  z-index: 2;
  top: 0;
  right: 0;
  transition: opacity 0.5s ease-in;
}

@media (min-width: 800px) {
  .navigationmenu {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 70%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    opacity: 1;


    svg {
      display: none;
    }


    ul {
      display: flex;
      gap: 10px;
      li {
        font-family: "Lato", sans-serif;
        font-size: 20px;
        margin-top: 0px;
        padding: 10px 10px 10px 10px;
        img {
          display: none;
        }
      }
      li:first-child {
        margin-top: 0px;
      }
    }
  }
}
